<section>
    <div class="container">

        <div class="row">
            <a href="admin/add-product" class="btn btn-success ml-auto m-3 px-4 py-2">Add Product</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SI No:</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>

                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Category}}</td>
                    <td>{{this.Description}}</td>
                    <td><img style="height: 50px; width: auto;" src="/product-images/{{this._id}}.jpg"></td>
                    <td><a class="btn btn-primary" href="/admin/edit-product/{{this._id}}">Edit</a></td>
                    <td><a class="btn btn-danger" href="/admin/delete-product/{{this._id}}" onclick="return confirm('Do you want to delete {{this.Name}} ?')">Delete</a></td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>
</section>