<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">SI No:</th>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>

                {{#each products}}
                <tr>
                    {{!-- {{#each this.product}} --}}
                        <th scope="row">1</th>
                        <td><img style="height: 75px; width: auto;"
                                src="/product-images/{{this.product._id}}.jpg"></td>
                        <td>{{this.product.Name}}</td>
                        <td>₹ {{this.product.Price}}</td>
                    {{!-- {{/each}} --}}
                    <td>
                        <button class="cart-item-count btn btn-secondary px-3 mr-3" onclick="changeQuantity( '{{this._id}}' , '{{this.product._id}}' , -1 )">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count btn btn-secondary px-3 ml-3" onclick="changeQuantity( '{{this._id}}' , '{{this.product._id}}' , 1 )">+</button>
                    </td>
                    <td><a href="" class="btn btn-danger">Remove</a></td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>
</section>

<script>
    function changeQuantity(cartId, prodId, count) {

        var quantity = parseInt(document.getElementById(prodId).innerHTML)
        count = parseInt(count)

        $.ajax({
            url: '/change-product-quantity',
            method: 'POST',
            data: {
                cart: cartId,
                product: prodId,
                count: count,
                quantity: quantity
            },
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product removed from Cart:")
                    location.reload()
                } else {
                    document.getElementById(prodId).innerHTML = quantity + count
                }
                // alert(response)
            }
        })
    }
</script>